<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<# int maxArguments = 255; #>

using System;

namespace ExcelDna.Integration
{
    internal class ExtendedFuncUtil
    {
        public static Type GetFuncType(int i)
        {
            switch (i)
            {
<# for (int i = 0; i <= maxArguments; ++i) {#>
                case <# Write(i.ToString());#>:
                    return typeof(ExtendedFunc<# Write(i.ToString());#><<# Write(new string(',', i));#>>);
<# } #>
                default:
                    throw new NotImplementedException($"GetFuncType({i})");
            }
        }

        public static Type GetActionType(int i)
        {
            switch (i)
            {
<# for (int i = 0; i <= maxArguments; ++i) {#>
                case <# Write(i.ToString());#>:
                    return typeof(ExtendedAction<# Write(i.ToString());#><# Write((i > 0 ? "<" + new string(',', i-1) + ">":""));#>);
<# } #>
                default:
                    throw new NotImplementedException($"GetActionType({i})");
            }
        }
    }

<#
for (int i = 0; i <= maxArguments; ++i)
{
    string types = string.Join(", ", Enumerable.Range(1, i).Select(k => $"T{k}"));
    string args = string.Join(", ", Enumerable.Range(1, i).Select(k => $"T{k} arg{k}"));
    string funcTypes = types + (i > 0 ? ", " : "") + "TResult";
    string actionTypes = i > 0 ? $"<{types}>" : "";

    WriteLine($"    public delegate TResult ExtendedFunc{i}<{funcTypes}>");
    WriteLine($"        ({args});");
    WriteLine($"    public delegate void ExtendedAction{i}{actionTypes}");
    WriteLine($"        ({args});");
}
#>}
